<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
<!--    <link rel="stylesheet" href="/static/style.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Movie Ticket Order page - Welcome and choose a Movie</title>

</head>

<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/home">Movie Tickets</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">

                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group input-group-sm">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item m-auto">
                                <a class="nav-link active" href="#about">About</a>
                            </li>
                            <li class="nav-item m-auto">
                                <a class="nav-link active" href="#ticket">Get a ticket</a>
                            </li>
                        </ul>
                    </div>
                    <a class="btn btn-success btn-sm ml-3" href="/shopping-cart">
                        <i class="fa fa-shopping-cart"></i> Cart
                    </a>
                    <a class="btn btn-light btn-sm ml-3" href="/logout">
                        <i class="fa fa-shopping-cart"></i> Logout
                    </a>
                </form>
            </div>
        </div>
    </nav>
</header>

<!------------------------------------------------------------------------------------->

<div>
    <section class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">TICKET ORDER APP</h2>
            <!--            <h3 class="jumbotron-heading">All movies</h3>-->
        </div>
    </section>


    <!------------------------------------------------------------------------------------->


<div id="#ticket">
    <div class="container mb-4">
        <h2>Search movies:</h2>
        <form class="form-inline">
            <label for="searchText" class="sr-only" >Text</label>
            <input th:type="text" name="searchText"  id="searchText" class="form-control mb-2 mr-sm-2" placeholder="Insert text">

            <label for="rating" class="sr-only">Rating</label>
            <input type="text" name="rating" class="form-control mb-2 mr-sm-2" id="rating" placeholder="Insert rating">

            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
        <br><br>
        <form th:method="POST" th:action="@{/orderConfirm/showOrder}">
            <h2>Select movie:</h2>
            <ul th:each="movie: ${movies}">
                <input type="radio" name="selectMovie" th:value="${movie.getTitle()}">
                <div><b>Title:</b> <span th:text="${movie.getTitle()}"></span></div>
                <div><b>Summary: </b> <span th:text="${movie.getSummary()}"></span></div>
                <div><b>Rating:</b> <span th:text="${movie.getRating()}"></span></div>
                <div><b>Production:</b> <span th:text="${movie.getProduction() != null}
                            ? ${movie.getProduction().getName()} : 'No Production'"></span></div>


                <a th:href="@{'/movies/delete/{id}' (id=${movie.getId()})}" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i></a>
                <a th:href="@{'/movies/edit-form/{id}' (id=${movie.getId()})}" class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></a>
            </ul>



            <h2>Choose number of tickets:</h2>
            <input type="number" name="numTickets" min="1" max="10"><br/>
            <br/>

           <h2>Select date and time:</h2>
            <input id="dateOrder" type="datetime-local" name="dateOrder"/>

            <hr/>
            <button type="submit" class="btn btn-large btn-primary" data-toggle="confirmation">Confirm</button>
        </form>


        <br> <br> <br>
        <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <a href="/movies/add-form" class="btn btn-block btn-dark add-product-btn">
                            Add new movie
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------------------------------------------------------------->


    <footer class="text-black-50 mt-xl-5" >
        <div class="container">
            <div class="row">
                <div id="about" class="col-md-3 col-lg-4 col-xl-3">
                    <h5>About</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p class="mb-0">
                        This is a web application for reserving tickets for the movies that we offer.
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled"></ul>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h5>Contact</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home mr-2"></i> Viktorija Stamenova</li>
                        <li><i class="fa fa-envelope mr-2"></i>viktorijastamenova@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>